.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.window {
  background-color: #fff;
  margin-top: 1vh;
  height: 98vh;
  overflow-y: scroll;
  padding-right: 17px;
}

.header {
  position: fixed;
  background-color: white;
  z-index: 1;
  width: 94%;
  height: 67px;
  display: flex;
  justify-content: space-between;
}

.content {
  margin-top: 67px;
}

.caption {
  padding-left: 4px;
}

.close {

}
