.checkmark_13 { background-image: url(/_constructor/img/color-preview/13.jpg); }
.checkmark_5 { background-image: url(/_constructor/img/color-preview/5.jpg); }
.checkmark_6 { background-image: url(/_constructor/img/color-preview/6.jpg); }
.checkmark_7 { background-image: url(/_constructor/img/color-preview/7.jpg); }
.checkmark_8 { background-image: url(/_constructor/img/color-preview/8.jpg); }
.checkmark_15 { background-image: url(/_constructor/img/color-preview/15.jpg); }

.checkmark {
  border: none;
}
