.checkmark_13-1 { background-image: url(/_constructor/img/border-preview/13-1.jpg); }
.checkmark_13-2 { background-image: url(/_constructor/img/border-preview/13-2.jpg); }
.checkmark_13-3 { background-image: url(/_constructor/img/border-preview/13-3.jpg); }
.checkmark_13-4 { background-image: url(/_constructor/img/border-preview/13-4.jpg); }
.checkmark_13-11 { background-image: url(/_constructor/img/border-preview/13-11.jpg); }
.checkmark_13-12 { background-image: url(/_constructor/img/border-preview/13-12.jpg); }

.checkmark_5-1 { background-image: url(/_constructor/img/border-preview/5-1.jpg); }
.checkmark_5-2 { background-image: url(/_constructor/img/border-preview/5-2.jpg); }
.checkmark_5-3 { background-image: url(/_constructor/img/border-preview/5-3.jpg); }
.checkmark_5-4 { background-image: url(/_constructor/img/border-preview/5-4.jpg); }
.checkmark_5-11 { background-image: url(/_constructor/img/border-preview/5-11.jpg); }
.checkmark_5-12 { background-image: url(/_constructor/img/border-preview/5-12.jpg); }

.checkmark_6-1 { background-image: url(/_constructor/img/border-preview/6-1.jpg); }
.checkmark_6-2 { background-image: url(/_constructor/img/border-preview/6-2.jpg); }
.checkmark_6-3 { background-image: url(/_constructor/img/border-preview/6-3.jpg); }
.checkmark_6-4 { background-image: url(/_constructor/img/border-preview/6-4.jpg); }
.checkmark_6-11 { background-image: url(/_constructor/img/border-preview/6-11.jpg); }
.checkmark_6-12 { background-image: url(/_constructor/img/border-preview/6-12.jpg); }

.checkmark_7-1 { background-image: url(/_constructor/img/border-preview/7-1.jpg); }
.checkmark_7-2 { background-image: url(/_constructor/img/border-preview/7-2.jpg); }
.checkmark_7-3 { background-image: url(/_constructor/img/border-preview/7-3.jpg); }
.checkmark_7-4 { background-image: url(/_constructor/img/border-preview/7-4.jpg); }
.checkmark_7-11 { background-image: url(/_constructor/img/border-preview/7-11.jpg); }
.checkmark_7-12 { background-image: url(/_constructor/img/border-preview/7-12.jpg); }

.checkmark_8-1 { background-image: url(/_constructor/img/border-preview/8-1.jpg); }
.checkmark_8-2 { background-image: url(/_constructor/img/border-preview/8-2.jpg); }
.checkmark_8-3 { background-image: url(/_constructor/img/border-preview/8-3.jpg); }
.checkmark_8-4 { background-image: url(/_constructor/img/border-preview/8-4.jpg); }
.checkmark_8-11 { background-image: url(/_constructor/img/border-preview/8-11.jpg); }
.checkmark_8-12 { background-image: url(/_constructor/img/border-preview/8-12.jpg); }

.checkmark_103-1 { background-image: url(/_constructor/img/border-preview/103-1.jpg); }
.checkmark_103-2 { background-image: url(/_constructor/img/border-preview/103-2.jpg); }
.checkmark_103-3 { background-image: url(/_constructor/img/border-preview/103-3.jpg); }
.checkmark_103-4 { background-image: url(/_constructor/img/border-preview/103-4.jpg); }
.checkmark_103-11 { background-image: url(/_constructor/img/border-preview/103-11.jpg); }
.checkmark_103-12 { background-image: url(/_constructor/img/border-preview/103-12.jpg); }
