.header {
  font-size: 22px;
  font-weight: bold;
}

.label {
  font-size: 16px;
  margin-bottom: 30px;
  display: block;
  position: relative;
}

.label_radio {
  padding-left: 60px;
  padding-top: 15px;
}

.radio {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: #fff;
  background-size: cover;
  border: 1px solid #CCCCCC;
  border-radius: 100%;

  &:after {
    position: absolute;
    display: none;
    content: url(/_constructor/img/checkmark.svg);
    width: 39px;
    top: -14px;
    left: 13px;
  }
}

.radio:checked + .checkmark:after {
  display: block;
}
